@use '../styles/break-points' as *;
@use '../styles/colors' as *;
@use '../styles/mixins' as *;

.breathing__box {
    display: flex;
    justify-content: center;
}

.pattern__1 {
    height: 300px;
    width:250px;

        @include tablet {
            height: 500px;
            width: 400px;
        }
}

.breathe {

&__text {
    color: $Green;
    display: flex;
    justify-content: center;
    margin-bottom: 0;

        @include tablet {
            font-size: 20px;
        }

        @include desktop {
            font-size: 1.5rem;
        }

}

&__title {
    margin-left: 1rem;
    color: darken($Green, 10%); 
    margin-bottom: 0;

        @include tablet {
            margin-left: 2rem;
        }

        @include desktop {
            margin-left: 4rem;
        }

}

&__container {
    background: $White; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
    margin-left: 2rem;
    padding-bottom: 2rem;
    margin-top: 2rem;

}
}
.pattern__2 {
    height: 300px;
    width: 250px;

}

.button__pattern--container {
    margin-left: 1rem;
    margin-top: 2rem;
    margin-right: 1rem;

        @include tablet {
            display: flex;
            justify-content: end;
        }

        @include desktop {
            justify-content: center;
        }
}

.pattern__button {
    border: none;
    border-radius: 4px;
    background-color: $Green;
    color: $White;
    font-size: 1rem;
    transition: background-color 0.3s;
    height: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 2rem;

    &:hover {
        background-color: darken($Green, 10%); 
    }
    
    @include tablet {
        width: 30%;
    }

    @include desktop {
        width: 25%;
    }
}
