@use '../styles/break-points' as *;
@use '../styles/colors' as *;
@use '../styles/mixins' as *;


.login{

&__page {
    margin-bottom: 13rem;

    @include tablet {
        margin-bottom: 12rem;

    }
}

&__button {
    border: none;
    border-radius: 4px;
    background-color: $Green;
    color: $White;
    font-size: 1rem;
    transition: background-color 0.3s;
    margin-right: 1rem;
    margin-left: 1rem;
    height: 2rem;

        @include tablet {
            width: 30%;
            margin-top:.5rem;
        }

        @include desktop {
            width: 25%;
            margin-top: .5rem;
        }


    &:hover {
        background-color: darken($Green, 10%); 
    }

    &:focus {
        outline: none; 
    }
}

&__input {
    margin-top: .5rem;
}

&__form {
    background: $White; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
    margin-left: 2rem;
    padding-bottom: 2rem;
    margin-top: 2rem;

    @include desktop {
        align-items: center;
        
    }
}

&__form--container {
    margin-left: 1rem;
    margin-right: 1rem;

    @include desktop {
        display: flex;
        align-items: center;
    }
        
}

&__page--signup {
    
        @include desktop {
            display: flex;
            align-items: center;
            margin-top: 1rem;
        }
}


&__page--text {
    margin-left: 1rem;
    margin-bottom: 1rem;
}

&__title {
    margin-left: 1rem;
    color: darken($Green, 10%); 
}
}

.label__login {
    margin-right: .5rem;

    @include desktop {
        margin-bottom: .625rem;
    }

}

.signup__button--login {
    border: none;
    border-radius: 4px;
    background-color: $Green;
    color: $White;
    font-size: 1rem;
    transition: background-color 0.3s;
    margin-right: 1rem;
    margin-left: 1rem;
    height: 2rem;
    margin-bottom: 2rem;

    @include tablet {
        width: 30%;
    }

    @include desktop {
        width: 25%;
    }
}