@use '../styles/break-points' as *;
@use '../styles/colors' as *;
@use '../styles/mixins' as *;

.signout__button, .journal__button {
    border: none;
    border-radius: 4px;
    background-color: $Green;
    color: $White;
    transition: background-color 0.3s;
    text-decoration: none;
    padding-right:.5rem;
    padding-left: .5rem;
    padding-top: .3rem;
    padding-bottom: .3rem;
}

.journal {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    margin-right: 2rem;

&__entries {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    padding: 1rem;
    background-color: $Cream; 
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

&__entry--text {
    border-bottom: 1px solid $Green;
    padding-bottom: 1rem;
}

&__entries--response {
    margin-right: 1rem;
    margin-left:1rem;
    border-top: 1px solid $Purple;
    padding-top: 1rem;
}

&__container {
    background-color: $Sage;
    padding-top: 3rem;
    padding-bottom: 1rem;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); 

}
}

textarea {
    min-height: 20rem;
    background-color: $White;
    border-radius: 4px;
    padding-left: 1rem;
    padding-top: .5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 

}

.signout__button {
    margin-left: 1rem;

&--container {
    padding-bottom: 2rem;
}
}

.journal__button {
    width: fit-content;
    margin-left: auto;
    margin-top: 1rem;
}

.profile__title {
    margin-left: 1rem;
    color: $Green;
    margin-top: 2rem;
}

.symptoms__log {

&--text {
    margin-left:1rem;
}
}

