@use '../styles/break-points' as *;
@use '../styles/colors' as *;
@use '../styles/mixins' as *;

#root {
    height: 100vh;
}

.logo {
    height:90px;
    width: 90px;
    margin-top: 1.5rem;

        @include tablet {
            padding-left: 1rem;
            height: 100px;
            width: 100px;
        }

        @include desktop{
            height: 120px;
            width: 120px;
            padding-left: 2rem;
        }
}

nav {
    box-sizing: border-box;

}

.nav__container {
    height: 4rem; 
    background-color: $Sage;
    display: flex;
    align-items: center;
    border-radius: 3px;


        @include tablet {
            justify-content: space-between;
            height: 5rem;
            padding-right: 1rem;
        }

        @include desktop {
            padding-right: 2rem;
            height: 6rem;
        }
}

.nav__button, .nav__button--about {
    text-decoration: none;
    color: $White;
    font-size: 13px;
    border-radius: 20px;
    padding: 5px;

    &:hover {
        text-decoration: underline 2px solid $Green;
        text-underline-offset: .4rem;
    }


        @include tablet {
            font-size: 20px;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        }

        @include desktop {
            margin-right: 2rem;
        }

}

.links__container {
    padding-left: 1rem;

        @include tablet {
            padding-left: 2rem;
        }

}

.active {
    background-color: $Green;
    text-decoration: none;  
}